* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1a1a1a;
}
.custom-navbar{
    background-color: grey;
}

button {
    cursor: pointer;
}

h2 {
    padding-top: calc(8px * 5);
    padding-bottom: calc(8px * 2);
    width: 100%;
    text-align: center;
}

.addProject,
.editProject {
    height: 100vh;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.twoColumnField {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.formField {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.rowFormField {
    width: 190px;
    display: flex;
    align-items: center;
    margin-bottom: calc(8px * 1);
}

label {
    font-weight: bold;
    padding-top: calc(8px * 2);
    padding-bottom: calc(8px * 1);
}

input:not([type="checkbox"]),
select,
textarea {
    height: 4ch;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.rowFormField>label {
    padding: 0;
}

textarea {
    resize: vertical;
    overflow-x: hidden;
    height: 150px;
}

.formField>button {
    background-color: #1a1a1a;
    border-radius: 100px;
    width: 100px;
    padding: 4px;
    border: none;
    color: #fff;
    margin-top: calc(8px * 5);
    align-self: flex-end;
}

/* my project */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    padding-bottom: calc(8px * 3);
}

.card {
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardImage {
  width: 200px;
  height: 130px;
  border-radius: 4px;
  overflow: hidden; /* gambar keluar dipotong */
  margin: 8px;
}

.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* gambar ngepas tanpa ketarik */
  display: block; /* ilangin space bawah bawaan img */
  border-radius: 4px;
}



.cardTitle {
    width: 200px;
    margin: 0 8px;
    font-size: .75rem;
    font-weight: bold;
}

.cardDuration,
.cardDesc {
    font-size: .5rem;
    margin: 0 8px 8px;
    width: 200px;
}

.cardButton {
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.cardButton>button {
    background-color: #1a1a1a;
    border-radius: 4px;
    width: 95px;
    padding: 4px;
    border: none;
    color: #fff;
}

.cardIcon {
    width: 200px;
    display: flex;
    gap: .5rem;
    margin: 8px 0;
}

.icon {
    height: 25px;
}

.backLayerEdit {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formEdit {
    width: 500px;
    height: 90vh;
    background-color: white;
    border-radius: 8px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.closeEdit {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 5px;
    background-image: url(https://img.icons8.com/?size=100&id=46&format=png&color=000000);
    background-size: cover;
    align-self: flex-end;
}

button#edit {
    margin-bottom: calc(8px * 3);
}

.show {
    z-index: 999;
}

.hide {
    z-index: -999;
}

.myProject {
    background-color: white;
}
.logout-btn {
 text-align: center;
  background-color: black;       /* warna background */
  color: white;                /* warna teks */
  text-decoration: none;       /* hilangkan garis bawah */
  
  font-size: 1.1rem;
  border-radius: 8px;    
  border: 2px solid black;      /* sedikit membulat, bukan oval */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* efek bayangan halus */
  transition: all 0.2s ease;
}

.logout-btn:hover {
  background-color: #b91c1c;   /* sedikit lebih gelap saat hover */
  transform: translateY(-2px); /* animasi naik sedikit */
}
